* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --wallpaper-color: radial-gradient(circle,rgba(4,189,228,.1) -25%, rgba(2,83,185,.5));
    --taskbar-height: 2.5rem;
    --taskbar-color: rgb(243, 243, 243, .85);
    --taskbar-color-dark: red;
    
}

/* #myVideo {
    width: 90%;
    justify-content: center;
    display: flex;
    align-items: center;
    position: fixed;
    right: -50%;
    transform: translateX(-60%);
    bottom: -100px;
    min-width: 90%;
    min-height: 100%;
} */

body {
    background: var(--wallpaper-color);
    height: 100vh;
    width: 100vw;
    font-size: 1.5em;
}

.dark-theme {
    background: var(--wallpaper-color-dark);

}


.contenedor {
    width: 100%; /* Puedes ajustar este valor según tus necesidades */
    height: calc(100vh - var(--taskbar-height));
    display: flex;
    margin: 0; /* Centra el contenedor en la página */
    background-image: url("../images/w11.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer {
    width: 100%;
    height: var(--taskbar-height);
    background-color: var(--taskbar-color);
    display: flex;
}