* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --wallpaper-color: linear-gradient(to right, #87aecb, #8db3ce, #94b8d2, #9abdd5, #a1c2d9, #a1c2d9, #a1c2d9, #a1c2d9, #9abdd5, #94b8d2, #8db3ce, #87aecb);
    --wallpaper-color-dark: linear-gradient(to right, #010a19, #061121, #081629, #091a32, #0a1e3b, #0a1e3b, #0a1e3b, #0a1e3b, #091a32, #081629, #061121, #010a19);
    --taskbar-height: 5vh;
    --taskbar-color: rgb(243, 243, 243, .85);
    --taskbar-color-dark: #1c1c1c;
}

.desktop-background {
    width: 100%;
    height: 95vh;
    display: flex;
    margin: 0;
    background: url("../../images/W11.webp") center bottom / contain no-repeat;
    background-color: var(--wallpaper-color);
}

.dark-theme {
    background-image: var(--wallpaper-color-dark);
    color: #fefefe;
}

.desktop-icons-container {
    display: flex;
    inset: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.icons {
    padding: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(5.5rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(5.5rem, 1fr));
    list-style: none;
    gap: 1.5rem;
    align-items: start;
    grid-auto-rows: minmax(0, 1fr);
}

.icon {
    text-align: center;
    padding: .15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    max-width: 100%;
    cursor: pointer;
    
}

.icon:hover{
    background-color: #252f3c;
}

.icon img {
    width: 55%;
}

span, a {
    margin-top: 0.25rem;
    color: white;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.taskbar {
    width: 100%;
    height: var(--taskbar-height);
    background-color: var(--taskbar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
  
.dark-theme .taskbar {
    background-color: var(--taskbar-color-dark);
}
  
.night-light {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgb(244 164 96 / 25%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /* Posiciona el div sobre el contenido de la página */
}
  
.luminosity {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 1, 1, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /* Posiciona el div sobre el contenido de la página */
}
  
.selector {
    position: absolute;
    border: 1px solid #0078d7;
    background-color: rgb(217 235 249 / 10%);
    pointer-events: none;
    display: none;
}
  
.weather-info {
    display: flex;
    align-items: center;
    padding: 0rem 1.5rem;
    height: 100%;
}
  
.weather-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 7.75%;
}
  
.temperature {
    font-size: 1.04rem;
    font-weight: bold;
    display: block;
    margin: 0;
}
  
.description {
    font-size: .9rem;
    display: block;
    margin: 0;
    color: #A0A0A0;
}
  
.weather-info > img {
    width: 75%;
    height: 75%;
}
  
.system-tray-icons {
    display: flex;
    align-items: center;
    padding: 0rem 1.5rem;
    height: 100%;
}
  
.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}
  
.taskbar-items {
      display: flex;
      align-items: center;
      padding: 0rem 1.5rem;
      height: 100%;
}
  
.taskbar-items > .icon-list > img {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 8px;
}
  
.system-tray-icons---icon {
    width: 16px;
    height: 16px;
    margin: 0 8px;
}
  
.color-svg {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) hue-rotate(0deg);
}
  
.widgets > .icon-list > img {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 8px;
}