:root{
    --background-color: #3973aa;
    --background-color-dark: #000;

    --background-text: #000;
    --background-text-dark: #fefeff;
}

body {
    background-color: var(--background-color);
    color: var(--background-text);
} 

.dark-theme {
    background-color: var(--background-color-dark);
    color: var(--background-text-dark);
}

#page {
    padding: 2em;
    display: table;
    height: 100%;
    margin: 0 auto;
    margin-top: -10px;
    width: 70%;
    font-size: 1.9vw;
}


h1 {
    color: white;
    font-size: 2.25em;
}

.text1 {
    width: 1100px;
    height: 200px;
    margin: -125px 50px 0px 150px;
}

.progress {
    margin: 0px 0px 0px 150px;
}

img {
    width: 135px;
}

p {
    color: white;
    font-size: 1.4em;
    font-weight: 350;
    margin: 5px 0px 0px 20px;
}

.smaller-p {
    color: white;
    font-size: 0.75em;
    font-weight: 350;
}

.qr-and-text {
    display: flex;
    width: 1200px;
    height: 135px;
    margin: 40px 50px 0px 150px;
}

.sadface {
    color: white;
    font-size: 12em;
    font-weight: 400;
    margin-left: 150px;
}