:root{
    --calculator-equal-bg: #0067c0;
    --calculator-numbers-bg: #ffffff;
    --calculator-operation-bg: #f9f9f9;
    
    --calculator-bg: #f3f3f3;
    --calculator-color: #000;
}

.dark-theme {
    --calculator-equal-bg: #4cc2ff;
    --calculator-numbers-bg: #3c3c3c;
    --calculator-operation-bg: #333333;
    
    --calculator-bg: #202020;
    --calculator-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.calculator-container {  
    height: 70%;
    width: 24%;
    border: 1px solid;
    border-radius: 8px;
    background: var(--calculator-bg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px 1px gray;
    border: 1px solid #d4d4d4;
    color: var(--calculator-color);
}

.title-bar {
    display: flex;
    align-items: center;
    padding-left: 5%;
    margin-bottom: 0.5rem;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.title-bar--left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.title-bar--right {
    display: flex;
    gap: 0;
}

.title-bar--left .title {
    margin-left: 10px;
    font-size: 0.9rem;
}

.title-bar--icon {
    height: 1.1rem;
}

.title-bar--right button {
    background: inherit;
    color: gray;
    padding: 5px;
    margin: 0;
    height: 35px;
    width: 45px;
    border: 0px;
}

.title-bar--right button i {
    font-size: 14px;
}

.right .resize:hover {
    background: #e6e6e6;
}

.close:hover {
    background: red;
    border: 0px;
}

.calculator-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    padding: 0 10px;
    margin-bottom: 4px;
}

.b {
    cursor: pointer;
}

.calculator {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-buttons {
    display: grid;
    gap: 2px;
    height: 100%;
    grid-template-columns: repeat(4, 24.5%);
    padding: 5px;
    width: 100%;
    justify-content: center;
    grid-template-rows: repeat(6, 16.15%);
}

.calculator-button {
    color: var(--calculator-color);
    border: 0;
    height: 100%;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1rem;
    background: initial
}

.calculator-equal {
    background-color: var(--calculator-equal-bg);
    color: var(--calculator-bg);
    font-size: x-large;
}

.calculator-number {
    background-color: var(--calculator-numbers-bg);
}

.calculator-operator {
    background-color: var(--calculator-operation-bg);
}


.calculator-button .calculator-number {
    font-size: 1.2rem;
}

.calculator-button:hover {
    filter: brightness(60%);
}

.calculator-input {
    border: 0;
    padding: 4px;
    font-size: 1.5em;
    width: calc(100% - 20px);
    margin: 0 10px;
    text-align: right;
    border: 0;
    background: transparent;
    color: var(--calculator-color);
}

.calculator-memory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    margin-bottom: 2px;
    width: 100%;
}

.calculator-memory .mry {
    width: 20%;
    height: 30px;
    padding: 1px;
    font-size: 0.8rem;
    border: none;
    color: currentColor;
    border-radius: 4px;
    background: none;
    transition: all 0.2s ease;
}

.calculator-memory .mry.off {
    color: #949494;
}

.display {
    height: 45px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 2.8rem;
    font-weight: 300;
}

.display2 {
    font-size: 100%;
    color: gray;
}